@font-face {
  font-family: "SONGER Condensed";
  src: url("../fonts/SONGERCondensed.woff2") format("woff2"),
    url("../fonts/SONGERCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER Condensed";
  src: url("../fonts/SONGERCondensed-Heavy.woff2") format("woff2"),
    url("../fonts/SONGERCondensed-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER Condensed";
  src: url("../fonts/SONGERCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER Condensed";
  src: url("../fonts/SONGERCondensed-Bold.woff2") format("woff2"),
    url("../fonts/SONGERCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER Grotesque";
  src: url("../fonts/SONGERGrotesque-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERGrotesque-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("../fonts/SONGERSemiExpanded-Heavy.woff2") format("woff2"),
    url("../fonts/SONGERSemiExpanded-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("../fonts/SONGERSemiExpanded-Bold.woff2") format("woff2"),
    url("../fonts/SONGERSemiExpanded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGER SemiExpanded";
  src: url("../fonts/SONGERSemiExpanded-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERSemiExpanded-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("../fonts/Inter18pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter18pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter 18pt";
  src: url("../fonts/Inter18pt-MediumItalic.woff2") format("woff2"),
    url("../fonts/Inter18pt-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
